<template>
  <q-dialog :maximized="$q.screen.lt.sm" ref="dialog"  @hide="onDialogHide">
    <q-card style="width: 500px !important;" >
        <!--
        ...content
        ... use q-card-section for it?
      -->
        <q-card-section class="full-height">
          <q-form @submit="onOKClick" class="fit" >
          <div class="text-h6">{{ moduleName }}</div>
          <div class="row q-col-gutter-x-md">
            <div class="col-12 col-md-6">
              <q-input
                v-model="user.username"
                :disable="disable"
                label="Nome*"
                :rules="[required]"
                lazy-rules
              />
            </div>
            <div class="col-12 col-md-6">
              <q-input
                v-model="user.email"
                :disable="disable"
                label="E-mail*"
                :rules="[required, email]"
                lazy-rules
              />
            </div>
            <div class="col-12 col-md-6">
              <q-input
                v-model="user.password"
                v-if="!disable"
                type="password"
                :label="'Senha ' + (isCreate ? '*' : '')"
                lazy-rules
                :rules="[
                  val => isUpdate || required(val),
                  val => !val || minLength(val, 8)
                ]"
              />
            </div>
            <div class="col-12 col-md-6">
              <q-input
                v-model="user.password_confirmation"
                v-if="!disable"
                :label="'Confirmar Senha ' + (isCreate ? '*' : '')"
                lazy-rules
                type="password"
                :rules="[
                  val => isUpdate || required(val),
                  val => !val || minLength(val, 8),
                  val => sameAs(val, user.password)
                ]"
              />
            </div>
          </div>             
          <template v-if="showMandates">
            <div class="text-h6">Mandatos</div>
            <div class="col-12 q-py-sm">
              <q-btn 
                icon="add"
                round
                size="10px"                
                color="green"
                @click="user.mandates.push({begin_date: '', end_date: '', is_chief: false})"
              />
            </div>
            <div class="row q-col-gutter-x-md items-center">
              <template v-if="user.mandates && user.mandates.length > 0">
                <template v-for="(mandate, i) in user.mandates">
                  <div class="col-5 col-md-4" :key="i">
                    <date-picker 
                      v-model="mandate.begin_date"
                      label="Data inicial"
                      lazy-rules                    
                      :rules="[ 
                          val => !mandate.end_date || lessThanDate(mandate.begin_date, mandate.end_date, 
                              'A data inicial precisa ser menor que a data final')
                        , val => !prevEndMandate(i) || greaterOrEqualThanDate(mandate.begin_date, prevEndMandate(i),
                              'A data está fora do intervalo permitido')
                      ]" 
                    />
                  </div>
                  <div class="col-5 col-md-4">
                    <date-picker
                      v-model="mandate.end_date"
                      label="Data Final"
                      lazy-rules                      
                      :rules="[
                          val => !mandate.begin_date || greaterThanDate(mandate.end_date, mandate.begin_date, 
                            'A data final precisa ser maior que a data inicial')
                        , val => !nextBeginMandate(i) || lessOrEqualThanDate(mandate.end_date, nextBeginMandate(i),
                            'A data está fora do intervalo permitido')
                      ]"
                    />
                  </div>
                  <div class="col-10 col-md-3">
                    <my-toggle 
                      v-model="mandate.is_chief"
                      label="Chefe de Departamento"
                      content-class="q-pb-lg"
                    />
                  </div>
                  <div class="col-2 col-md-1">
                    <q-btn icon="close" @click="user.mandates.splice(i, 1)" round color="red" flat size="10px" />
                  </div>
                </template>
              </template>
              <template v-else>
                  <div class="full-width q-pb-md" >{{type === 'logged' ? 'Você' : 'O professor'}} não possui mandatos.</div>
              </template>
            </div>
          </template>
          <template v-if="showActiveMandate">
            <div class="text-h6">Mandato Vigente</div>
            <div class="row q-col-gutter-x-md items-center">
              <template v-if="user.active_mandate" >
                <div class="col-4">
                    <q-input 
                      label="Data Inicial"
                      :value="formatDate(removeHour(user.active_mandate.begin_date))"
                      disable
                    />
                </div>
                <div class="col-4">
                    <q-input 
                      label="Data Inicial"
                      :value="formatDate(removeHour(user.active_mandate.end_date))"
                      disable
                    />
                </div>
                <div class="col-4">
                  <my-toggle 
                    :value="user.active_mandate.is_chief"
                    label="Chefe de Departamento"
                    content-class="q-pb-sm"
                    disable
                  />
                </div>
              </template>
              <div v-else class="col-12" >{{type === 'logged' ? 'Você' : 'O professor'}} não possui mandato vigente.</div>
            </div>
          </template>

          <template v-if="showRelatives">
            <div class="text-h6">Parentes</div>
            <div class="col-12 q-py-sm">
                  <q-btn 
                    icon="add"
                    round
                    size="10px"                
                    color="green"
                    @click="addRelatives"
                  />
                </div>
              <div class="row q-col-gutter-x-sm">
                <template v-if="user.relatives && user.relatives.length > 0">
                  <template v-for="(relative, i) in user.relatives" >
                      <div class="col-4" :key="i">
                        <q-select
                          label="Tipo*"
                          :options="['Sanguíneo', 'Matrimonial']"
                          v-model="relative.type"
                        />
                      </div>
                      <div class="col-7">
                        <auto-complete
                          label="Nome*"
                          v-model="relative.professor_id"
                          :options="professors"
                          emit-value
                          map-options
                          option-value="id"
                          option-label="username"                        
                        />
                      </div>
                      <div class="col-1 q-mt-md">
                        <q-btn icon="close" @click="user.relatives.splice(i, 1)" round color="red" flat size="10px" />
                      </div>
                  </template>
                </template>
                <template v-else>
                  <div class="col-12" >{{type === 'logged' ? 'Você' : 'O professor'}} não possui parentes cadastrados.</div>
                </template>

            </div>
          </template>

          <div class="row q-gutter-x-sm items-end justify-end q-pt-md">
            <q-btn
                color="primary"
                outline
                label="Cancelar"
                @click="onCancelClick"
              />
              <q-btn color="primary" type="submit" label="Salvar" />
          </div>

        </q-form>

        </q-card-section>        

    </q-card>
  </q-dialog>
</template>

<script>
import { formatters, rules } from "src/mixins"
import cloneDeep from "lodash.clonedeep";
import DatePicker from "src/components/DatePicker.vue"
import { mapGetters } from 'vuex'
import AutoComplete from 'src/components/AutoComplete.vue'
import MyToggle from 'src/components/MyToggle.vue'

const user = {
  username: "",
  email: "",
  password: "",
  password_confirmation: "",
  mandates: [],
  active_mandate: null,
  relatives: []
};

export default {
  name: "UserForm",
  mixins: [rules, formatters],
  components: { DatePicker, AutoComplete, MyToggle },
  props: {
    id: {
      type: Number,
      required: false
    },
    type: {
      type: String,
      required: true,
      validator: val => {
        return ["professor", "secretary", "logged"].indexOf(val) >= 0;
      }
    }
  },
  data: () => ({
    user: cloneDeep(user),
    professors: []
  }),
  async created() {
    await this.initialize();
  },
  computed: {
    ...mapGetters({
      isProfessorLogged: 'auth/isProfessor',
      isSecretaryLogged: 'auth/isSecretary'
    }),
    isProfessor() {
      return this.type === 'professor' || 
      (this.type === 'logged' && this.isProfessorLogged)
    },
    moduleName() {
      if (this.id) return 'Professor'
      if (this.type === "logged") return "Meus Dados";
      if (this.type === "professor") return "Criar Professor";
      return "Criar Secretário";
    },
    showActiveMandate () {
      return this.isProfessorLogged
    },
    showMandates () {
      return this.isSecretaryLogged && this.type === 'professor'
    },
    showRelatives () {
      return this.isSecretaryLogged && this.type === 'professor'
    },
    isCreate() {
      return this.type !== "logged" && !Boolean(this.id);
    },
    isUpdate() {
      return !this.isCreate;
    },
    disable() {
      return Boolean(this.id)
    }
  },
  methods: {
    async initialize() {
      if(this.id) {
        const { data } = await this.$axios.get(`user/${this.id}`)
        Object.assign(this.user, data)
      } else {      
        if(this.type === 'logged') {
          const { data } = await this.$axios.get('user')
          Object.assign(this.user, {
                username: data.username,
                email: data.email,                
                active_mandate: cloneDeep(data.active_mandate)
          })
          this.$store.commit("auth/setUser", data);  
        } else {
          this.user.type = this.type
        }
      }
      await this.getProfessors()
    
    },
    prevEndMandate(i) {      
      return this.user.mandates[i - 1] && this.user.mandates[i - 1].end_date
    },
    nextBeginMandate(i) {
      return this.user.mandates[i + 1] && this.user.mandates[i + 1].begin_date
    },

    async getProfessors() {
      if(this.user.relatives?.length > 0 && this.professors.length === 0) {
        const { data } = await this.$axios.get('professors')
        this.professors = data
      }
    },

    async addRelatives() {
      this.user.relatives.push({professor_id: null, type: ''})
      await this.getProfessors()
    },

    // following method is REQUIRED
    // (don't change its name --> "show")
    show() {      
      this.$refs.dialog.show();
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide() {
      this.$refs.dialog.hide();
    },

    onDialogHide() {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit("hide");
    },

    async onOKClick() {
      const requestData = {
        ...(
          this.type === 'logged' || this.isCreate
                    ? this.user
                    : undefined
        ),
        relatives: this.showRelatives 
                    ? this.user.relatives
                    : undefined,
        mandates: this.showMandates 
                    ? this.user.mandates
                    : undefined,
        active_mandate: undefined
      }
      if (this.isCreate) {
        await this.$axios.post('user', requestData)
      } else {
        if (requestData.password === "") {
          requestData.password = undefined
          requestData.password_confirmation = undefined
        }
        if (this.type === 'logged') {
          const { data } = await this.$axios.put("user", requestData)      
          this.$store.commit("auth/setUser", data)
        }
        else if (Boolean(this.id)) {
          await this.$axios.put(`user/${this.id}`, requestData)
        }
      }

      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit("ok");
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide();
    },

    onCancelClick() {
      // we just need to hide dialog
      this.hide();
    }
  }
};
</script>
