<template>
  <q-page class="q-pa-lg">
    <my-table
      :title="moduleName"
      :columns="columns"
      :filters="filters"
      :data="userData"
    >
      <template v-if="type === 'professor'" #name-actions="{props: {row}}">
        <div class="row justify-end q-gutter-x-md">
          <div @click="editUser(row)" class="text-center cursor-pointer">
            <q-icon  name="edit"  size="xs" />
            <div style="font-size: 11px;">Editar</div>
          </div>
        </div>
      </template>
    </my-table>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="add" @click="addUser" color="green">
        <q-tooltip>
          Novo Usuário
        </q-tooltip>
      </q-btn>
    </q-page-sticky>
  </q-page>
</template>

<script>
import MyTable from "src/components/MyTable";
import UserForm from "pages/User/UserForm";

export default {
  components: {
    MyTable
  },
  data: () => ({
    userData: [],
    filters: [
      {
        label: "Código",
        field: "id",
        value: null,
        type: "input-number",
        class: 'col-12 col-sm-2'
      },
      {
        label: "Nome",
        field: "username",
        value: null,
        type: "input",
        class: 'col-12 col-sm-6'
      },
      {
        label: "E-mail",
        field: "email",
        value: null,
        type: "input",
        class: 'col-12 col-sm-4'
      }
    ]
  }),
  async created() {
    await this.loadData();
  },
  computed: {
    moduleName() {
      return this.type === "professor" ? "Professores" : "Secretários";
    },
    columns() {
      return this.type === 'professor' ? [
        {
          name: "id",
          field: "id",
          required: true,
          label: "Código",
          align: "left",
          sortable: true
        },
        {
          name: "username",
          field: "username",
          required: true,
          label: "Nome",
          align: "left",
          sortable: true
        },
        {
          name: "email",
          field: "email",
          required: true,
          label: "E-mail",
          align: "left",
          sortable: true
        },
        {
          label: "Ações",
          name: "actions",
          field: "actions",
          align: "right",
          noCSVExport: true
        }
      ] : [
        {
        name: "id",
        field: "id",
        required: true,
        label: "Código",
        align: "left",
        sortable: true
      },
      {
        name: "username",
        field: "username",
        required: true,
        label: "Nome",
        align: "left",
        sortable: true
      },
      {
        name: "email",
        field: "email",
        required: true,
        label: "E-mail",
        align: "left",
        sortable: true
      }
      ]
    }
  },
  methods: {
    async addUser() {
      await this.$q
        .dialog({
          component: UserForm,
          type: this.type,
          parent: this
        })
        .onOk(this.loadData);
    },
    async editUser(user) {      
      await this.$q
        .dialog({
          component: UserForm,
          type: this.type,
          id: user.id,  
          disable: true,
          parent: this
        })
        .onOk(this.loadData);
    },
    async loadData() {
      const { data } = await this.$axios.get(`users/${this.type}`);
      this.userData = data;
    }
  }
};
</script>

<style></style>
