<template>
  <div>
    <q-dialog ref="dialog" @hide="onDialogHide">
      <q-card class="q-dialog-plugin">
        <!--
          ...content
          ... use q-card-section for it?
        -->
        <q-card-section>
          <div class="absolute" style="top: 10px; right: 10px"> 
            <q-icon @click="onCancelClick" class="cursor-pointer" style="font-size: 2em;" name="close" />
          </div>
          <div class="q-pa-md" style="max-width: 350px">
            <q-list v-if="documents.length > 0">
              <template v-for="(document, index) in documents">
                <q-item clickable @click="openDocument(document)" v-ripple v-if="isImage(document)">
                  <q-item-section avatar>
                    <q-avatar rounded>
                      <img :src="document.url">
                    </q-avatar>
                  </q-item-section>

                  <q-item-section>{{document.title}}</q-item-section>
                </q-item>

                <q-item clickable  @click="openDocument(document)" v-ripple v-else>
                  <q-item-section avatar>
                    <q-avatar rounded color="orange-4" text-color="white" icon="attach_file" />
                  </q-item-section>

                  <q-item-section>{{document.title}}</q-item-section>
                </q-item>
              </template>
            </q-list>
            <div v-else>Não há nenhum documento para este afastamento</div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-if="pickedDocument !== null" class="img-dialog" v-model="imgDialog">        
      <div class="close-button"> 
          <q-icon @click="imgDialog = false" name="close" />
      </div>
      <img :src="pickedDocument.url"></img> 
      <div class="description">{{pickedDocument.title}}</div>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'DocumentViewer',
  props: {
    documents: Array
  },
  data: () => ({
    imgDialog: false,
    pickedDocument: null
  }),
  methods: {
    isImage(document) {
      return document.url.match(/.jpg|.jpeg|.png/)
    },

    openDocument(document) {
      if(this.isImage(document)) {
        this.pickedDocument = document
        this.imgDialog = true
      } else {
        window.open(document.url, '__blank')
      }
    },

    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    }
  }
}
</script>

<style lang="scss">
.img-dialog {
  z-index: 9000 !important;
  * {
    box-shadow: none !important;
  }
  > .q-dialog__inner {
    flex-direction: column;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    > * {      
      cursor: pointer;
      font-size: 2em;
    }
  }
  img {
    min-height: 30%;
    max-height: 80%;
    min-width: 30%;
    max-width: 100%;
  }
  .description {
    padding: 23px 0 !important;
    font-size: 16px;
    text-shadow: 1px 1px black;
  }
}
</style>