<template>
  <q-dialog :maximized="$q.screen.lt.sm" ref="dialog" @hide="onDialogHide">    
    <q-card class="q-dialog-plugin">      
      <q-form @submit="onOKClick" @validation-error="valError" >
        <!--
          ...content
          ... use q-card-section for it?
        -->
        <q-card-section>

          <div class="absolute" style="top: 10px; right: 10px"> 
            <q-icon @click="hide" class="cursor-pointer" style="font-size: 2em;" name="close" />
          </div>

          <div class="text-h6">Afastamento</div>
          <div class="row col-gutter-x-md">
            <div class="col-6">
              <q-select
                v-if="isSecretary && isUpdate && this.withdrawal.type !== null"                
                v-model="withdrawal.situation"
                label="Situação"
                :options="situationOptions"
              />
            </div>
          </div>
          <div class="row q-col-gutter-x-md">
            <div class="col-6">
              <date-picker 
                v-model="withdrawal.begin_date"
                label="Início*"
                :disable="disable('withdrawal.begin_date')"
                lazy-rules
                :rules="[
                  required,
                  val => !withdrawal.begin_date || ! withdrawal.end_date || lessThanDate(withdrawal.begin_date, withdrawal.end_date,
                    'A data inicial precisa ser menor que a data final')
                ]"
               />
            </div>
            <div class="col-6">
              <date-picker 
                v-model="withdrawal.end_date"
                :disable="disable('withdrawal.end_date')"
                label="Fim*"
                :rules="[
                  required,
                  val => !withdrawal.begin_date || !withdrawal.end_date || lessThanDate(withdrawal.begin_date, withdrawal.end_date,
                    'A data inicial precisa ser menor que a data final')
                ]"
              />
            </div>
            <div class="col-6">
              <q-select label="Tipo*"
                v-model="withdrawal.type"
                :disable="disable('withdrawal.type')"
                :options="['Nacional', 'Internacional']" 
                :rules="[required]"
              />
            </div>
            <div class="col-6">
              <q-select 
                v-model="withdrawal.onus"
                :disable="disable('withdrawal.onus')"
                label="Ônus*"
                :rules="[required]"
                :options="['Total', 'Parcial', 'Inesistente']"
              />
            </div>
            <div class="col-12 ">
              <auto-complete v-if="this.isUpdate && this.withdrawal.type === 'Internacional'"
                label="Relator*"
                v-model="withdrawal.rapporteur_professor_id"
                :disable="disable('withdrawal.rapporteur_professor_id')"
                :options="professors" 
                emit-value
                map-options
                option-value="id"
                option-label="username"
                :rules="[required]"
              />
            </div>
          </div>

          <div class="text-h6 q-pt-sm">Evento</div>
          <div class="row q-col-gutter-x-md">
            <div class="col-6">
              <q-input 
                v-model="withdrawal.event_name"
                :disable="disable('withdrawal.event_name')"
                label="Nome*" 
                :rules="[required]"                
              />              
            </div>
          </div>
          <div class="row q-col-gutter-x-md">
            <div class="col-6">
              <date-picker 
                v-model="withdrawal.event_begin_date"
                :disable="disable('withdrawal.event_begin_date')"
                label="Início*"
                :rules="[
                  required,
                  val => !withdrawal.event_begin_date || !withdrawal.event_end_date || lessThanDate(withdrawal.event_begin_date, withdrawal.event_end_date,
                    'A data inicial precisa ser menor que a data final')
                ]"
              />              
            </div>
            <div class="col-6">
              <date-picker 
                v-model="withdrawal.event_end_date"
                :disable="disable('withdrawal.event_end_date')"
                label="Fim*" 
                :rules="[
                  required,
                  val => !withdrawal.event_begin_date || !withdrawal.event_end_date || lessThanDate(withdrawal.event_begin_date, withdrawal.event_end_date,
                    'A data inicial precisa ser menor que a data final')
                ]"
              />   
            </div>
            <div class="col-12 q-pt-md" >
                <q-input 
                  v-model="withdrawal.reason"
                  :disable="disable('withdrawal.reason')"
                  :rules=[required]
                  label="Motivo*"
                  outlined
                  type="textarea"
                />
            </div>
          </div>

          <div class="text-h6 q-pt-sm">Documentos</div>
          <file-picker
            v-model="withdrawal.documents"
            accept=".jpg,.jpeg,.png,.pdf,image/png,image/jpeg,application/pdf"
            :max-file-size="5"
            :max-files="5"            
            :is-required="requiredDocumentsWith.indexOf(withdrawal.situation) >= 0"
            :error-message="errorMessage"
          />
        </q-card-section>

        <!-- buttons example -->
        <q-card-actions align="right">
          <q-btn color="primary" type="submit" label="Salvar" />
          <q-btn color="primary" outline label="Cancelar" @click="onCancelClick" />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script>
import DatePicker from 'src/components/DatePicker.vue'
import AutoComplete from 'src/components/AutoComplete.vue'
import FilePicker from 'src/components/FilePicker.vue'
import { mapGetters } from 'vuex'
import { rules } from 'src/mixins'

export default {
  name: 'WithDrawalForm',
  components: {DatePicker, AutoComplete, FilePicker},
  mixins: [rules],
  props: {
    id: {
      type: Number,
      required: false,
    }
  },
  data: () => ({
    professors: [],
    file: null,
    errorMessage: '',
    requiredDocumentsWith: ['Aprovado-DI', 'Aprovado-CT', 'Aprovado-PRPPG'],
    situationOptions: [],
    withdrawal: {
      situation: 'Iniciado',
      begin_date: null,
      end_date: null,
      type: null,
      onus: null,
      rapporteur_professor_id: null,
      event_name: '',
      event_begin_date: null,
      event_end_date: null,
      reason: '',
      documents: []
    }
  }),

  async created() {
    if(this.isUpdate) {
      const { data } = await this.$axios.get(`withdrawal/${this.id}`)
      this.withdrawal = data

      const { type, situation } = this.withdrawal
      const { data: situations } = await this.$axios.get(`withdrawal-situations/${type}/${situation}`)
      this.situationOptions = situations

      if (this.withdrawal.type === 'Internacional') {
        const { data } = await this.$axios.get(`withdrawal/${this.id}/rapporteurs`)
        this.professors = data    
      }
    }

  },

  computed: {
    ...mapGetters({
      isChief: 'auth/isChief',
      isSecretary: 'auth/isSecretary',
      isProfessor: 'auth/isProfessor'
    }),
    isUpdate() {
      return Boolean(this.id)
    },
    isCreate() {
      return !this.isUpdate
    },
    canChangeRapporteur () {
      return this.isChief && this.isUpdate && this.withdrawal.type === 'Internacional'
    }  
  },

  methods: {
    disable (field) {
      if(field === 'withdrawal.rapporteur_professor_id') {        
        return this.isUpdate && !this.isChief
      }
      if (field === 'withdrawal.situation') {
        return this.isUpdate && this.withdrawal.situation === 'Cancelado'
      }
      return this.isUpdate
    },

    valError (ref) {
      if (ref.$options.name === 'QFile')
        this.errorMessage = 'Envie pelo menos um arquivo com o parecer do ' + this.withdrawal.situation.split('-')[1]
    },

    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    async onOKClick () {

      if (this.isCreate) {
        await this.$axios.formDataPost('withdrawal', this.withdrawal)
      } else {
        const data = {
          rapporteur_professor_id: this.canChangeRapporteur ? this.withdrawal.rapporteur_professor_id : undefined,
          situation: this.isSecretary && this.withdrawal.situation !== 'Cancelado' ? this.withdrawal.situation : undefined,
          documents: this.withdrawal.documents         
        }

        await this.$axios.formDataPut(`withdrawal/${this.id}`, data)
      }




      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    }
  }
}
</script>

<style>
textarea {
  resize: none !important;
  height: 8em !important;
}
</style>