<template>
  <q-page class="q-pa-lg">
    <my-table 
      title="Afastamentos"
      :columns="columns"
      :data="withDrawalData"
      :filters="filters"
    >
      <template #name-actions="{props: {row}}">
        <div class="row justify-center q-gutter-x-md">
          <div @click="openDocuments(row)" class="text-center cursor-pointer">
            <q-icon name="attach_file"  size="xs" />
            <div style="font-size: 11px;">Ver Documentos</div>
          </div>
          <div v-if="canAction(row) && isProfessor && row.emit_feedback" @click="createFeedback(row)" class="text-center cursor-pointer">
            <q-icon name="filter_none"  size="xs" />
            <div style="font-size: 11px;">Emitir Parecer</div>
          </div>
          <div v-if="canAction(row)" @click="editWithdrawal(row)" class="text-center cursor-pointer">
            <q-icon :name="isSecretary || isChief ? 'edit' : 'file_upload'"  size="xs" />
            <div style="font-size: 11px;">{{isSecretary || isChief ? 'Editar' : 'Salvar Documentos'}}</div>
          </div>
          <div v-if="canAction(row) && row.solicitor_id == user.id" @click="cancelWithdrawal(row)" class="text-center cursor-pointer">
            <q-icon name="close" color="negative"  size="xs" />
            <div style="font-size: 11px;">Cancelar</div>
          </div>
        </div>
      </template>
      <template #name-situation="{props: {row}}">
        <div class="text-center">
          <q-chip class="text-white" :color="getColor(row.situation)" >{{row.situation}}</q-chip>
        </div>
      </template>
    </my-table>    
    <q-page-sticky v-if="isProfessor" position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="add" @click="addWithdrawal" color="green">
        <q-tooltip self="top left" content-style="height: 3rem;" >
          Registrar Afastamento
        </q-tooltip>
      </q-btn>
    </q-page-sticky>
  </q-page>
</template>

<script>

import MyTable from 'src/components/MyTable'
import WithDrawalForm from './WithDrawalForm.vue'
import { formatters, rules } from 'src/mixins'
import { mapGetters } from 'vuex'
import FeedbackForm from '../Feedback/FeedbackForm.vue'
import DocumentViewer from './DocumentViewer.vue'

export default {
    name: 'WithDrawalList',
    components: { MyTable },
    mixins: [formatters, rules],
    data: (vm) => ({
      withDrawalData: [],
      filters: [
        {
          label: "Código",
          field: "id",
          value: null,
          type: "input-number",
          class: 'col-12 col-sm-2',    
        },
        {
          label: "Solicitante",
          field: "solicitor_name",
          value: null,
          type: "input-text",
          class: 'col-12 col-sm-4',    
        },
        {
          label: "Data Inicial",
          field: "created_at",
          value: null,
          filter: (row, field) =>{
            row = row.split(' ')[0]
            return typeof(vm.validDate(row)) === 'string' || typeof(vm.validDate(field)) === 'string' || row >= field
          },
          type: "date-picker",
          class: 'col-12 col-sm-3',          
        },
        {
          label: "Data Final",
          field: "created_at",
          value: null,
          filter: (row, field) =>  {
            row = row.split(' ')[0]
            return typeof(vm.validDate(row)) === 'string' || typeof(vm.validDate(field)) === 'string' || row <= field
          },
          type: "date-picker",        
          class: 'col-12 col-sm-3',    
        },
        {
          label: "Situação",
          field: "situation",
          value: 'Todos',
          type: "select",
          options: ['Todos', 'Iniciado', 'Aprovado-DI', 'Aprovado-CT', 'Aprovado-PRPPG', 'Arquivado', 'Cancelado', 'Reprovado'],
          class: 'col-12 col-sm-2',    
        }
      ],
      columns: [
          {
            name: "id",
            field: "id",
            required: true,
            label: "Código",
            align: "left",
            sortable: true
          },
          {
            name: "created_at",
            field: "created_at",
            required: true,
            label: "Data da Solicitação",
            align: "left",
            sortable: true,
            format: (val) => vm.formatDateIncludingHour(val)
          },
          {
            name: "solicitor_name",
            field: "solicitor_name",
            required: true,
            label: "Solicitante",
            align: "left",
            sortable: true
          },
          {
            name: "situation",
            field: "situation",
            required: true,
            label: "Situação",
            align: "center",
            sortable: false
          },
          {
            name: "actions",
            field: "actions",
            required: true,
            label: "Ações",
            align: "center",
            sortable: false
          }
        ]
    }),
    async created() {
      await this.loadData()
    },
    methods: {
      async addWithdrawal () {
        await this.$q
          .dialog({
            component: WithDrawalForm,
            parent: this
          }).onOk(this.loadData)
      },
      async openDocuments (row) {
        const { data } = await this.$axios.get(`withdrawal/${row.id}/documents`)
        await this.$q.dialog({
          component: DocumentViewer,
          documents: data,
          parent: this
        })
      },
      async editWithdrawal(row) {
        await this.$q
          .dialog({
            component: WithDrawalForm,
            id: row.id,
            parent: this
          }).onOk(this.loadData)
      },
      async createFeedback(row) {
        await this.$q
          .dialog({
            component: FeedbackForm,
            withdrawalId: row.id,
            parent: this
          }).onOk(() => this.$router.push({name: 'feedback.list'}))
      },
      async cancelWithdrawal (row) {
        await this.$q.dialog({
          parent: this,
          title: 'Cancelar Afastamento',
          message: 'Deseja realmente cancelar o afastamento ?',
          cancel: {
            outline: true,
            label: 'Não'          
          },
          ok: {
            label: 'Sim'
          }

        }).onOk(async () => {
          await this.$axios.put(`withdrawal/${row.id}`, {
            situation: 'Cancelado'
          })
          row.situation = 'Cancelado'
        })
      },
      canAction (row) {
        return row.situation !== 'Reprovado' &&
        row.situation !== 'Cancelado' && 
        row.situation !== 'Arquivado'        
      }, 
      getColor(situation) {              
        if (situation === 'Iniciado' || situation === 'Arquivado') return 'grey'
        if (situation === 'Reprovado' || situation === 'Cancelado') return 'negative'        
        if (situation.indexOf('Aprovado') >= 0) return 'positive'
        return 'grey'
      },
      async loadData () {
        const { data } = await this.$axios.get('withdrawals')
        this.withDrawalData = data
      }
    },
    computed: {
      ...mapGetters({
        isProfessor: 'auth/isProfessor',
        isChief: 'auth/isChief',
        isSecretary: 'auth/isSecretary',
        user: 'auth/getUser'
      })     
    }
}
</script>

<style >

</style>