<template>
  <q-select
    ref="select"
    :filled="filled"
    v-model="val"
    use-input
    :input-debounce="inputDebounce"
    :label="label"
    :options="displayed_options"
    @input-value="inputValue"
    @virtual-scroll="details => $emit('virtual-scroll', details)"
    @filter="filterFn"
    hide-bottom-space
    :new-value-mode="newValueMode"
    :behavior="behavior"
    :map-options="mapOptions"
    :emit-value="emitValue"
    :rules="rules"
    :multiple="multiple"
    :lazy-rules="lazyRules"
    :option-value="optionValue"
    :option-label="optionLabel"
    :option-disable="optionDisable"
    :disable="disable"
    :clearable="clearable"
    :autofocus="autofocus"
  >
    <template #no-option>
      <slot name="no-option" />
    </template>
  </q-select>
</template>

<script>
import { debounce } from 'quasar'

export default {
  name: 'AutoComplete',
  props: {
    value: {
      type: [Object, String, Number, Array],
      default: null      
    },
    options: {
      type: Array,
      default: () => []
    },
    newValueMode: {
      type: String,
      default: 'add'
    },
    noFilter: {
      type: Boolean,
      default: false
    },
    label: String,
    filled: Boolean,
    behavior: String,
    inputDebounce: {
      type: [Number, String],
      default: 0
    },
    mapOptions: Boolean,
    emitValue: Boolean,
    lazyRules: [Boolean, String],
    rules: Array,
    disable: Boolean,
    clearable: Boolean,
    multiple: Boolean,
    optionLabel: {
      type: [String, Function],
      default: 'label'
    },
    optionValue: {
      type: [String , Function],
      default: 'value'
    },
    optionDisable: [String, Function],
    autofocus: Boolean
  },
  data: () => ({
    displayed_options: []
  }),
  methods: {
    filterFn (val, update) {
      if (val === '' || this.noFilter) {
        update(() => {
          this.displayed_options = this.options
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        if (this.mapOptions) {
          const optionLabel = (v) => typeof(this.optionLabel) === 'function' ? this.optionLabel(v) : this.optionLabel
          this.displayed_options = this.options.filter(v => v[optionLabel(v)].toLowerCase().indexOf(needle) > -1)
        } else {
          this.displayed_options = this.options.filter(v => v.toLowerCase().indexOf(needle) > -1)
        }
      })
    },
    refresh () {
      this.$refs.select.refresh()
    },
    showPopup () {
      this.$refs.select.showPopup()
    },
    inputValue (value) {
      this.$emit('input-value', value)
    }
  },
  computed: {
    val: {
      get () {        
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  watch: {
    options: function (val) {
      this.displayed_options = [...val]
    }
  },
  created () {
    this.displayed_options = [...this.options]
    this.inputValue = debounce(this.inputValue, parseInt(this.inputDebounce))
  }
}
</script>
