<template>
  <q-input
    ref="input"
    v-model="val"
    :label="label"
    :placeholder="placeholder"
    :rules="myRules"
    :disable="disable"
    :outlined="outlined"
    :filled="filled"
    :lazy-rules="lazyRules"
    :hide-bottom-space="hideBottomSpace"
    :clearable="clearable"
    mask="##/##/####"
  >
    <template v-slot:append>
      <q-icon
        flat
        name="event"
        class="cursor-pointer"
      >
        <q-popup-proxy
          ref="date"
          transition-show="scale"
          transition-hide="scale"
        >
          <q-date
            :value="val"
            mask="DD/MM/YYYY"
            @input="setDate"
          />
        </q-popup-proxy>
      </q-icon>
    </template>
  </q-input>
</template>

<script>
import { formatters, rules } from 'src/mixins'
import { date } from 'quasar'
export default {
  name: 'DatePicker',
  mixins: [formatters, rules],
  props: {
    value: {
      type: String,
      default: ''
    },
    noFutureDates: {
      type: Boolean,
      default: false
    },
    noPastDates: {
      type: Boolean,
      default: false
    },
    minAge: Number,
    outlined: {
      type: Boolean,
      default: false
    },
    filled: {
      type: Boolean,
      default: false
    },
    hideBottomSpace: {
      type: Boolean,
      default: false
    },
    rules: {
      type: Array,
      default: () => []
    },
    defaultDate: {
      type: Boolean,
      default: false
    },
    label: String,
    placeholder: String,
    disable: Boolean,
    lazyRules: Boolean,
    clearable: Boolean
  },
  mounted () {
    if (this.defaultDate && !this.value) {
      this.val = this.formatDate(new Date().toISOString().split('T')[0])
    }
  },
  computed: {
    val: {
      get () {
        // console.log('get: ' + this.value + ' -> ' + this.formatDate(this.value) || '')
        if (this.value?.length > 10) {
          return this.formatDate(this.removeHour(this.value))
        }
        return this.formatDate(this.value)
      },
      set (val) {
        // console.log('set: ' + val + ' -> ' +  this.formatDateReverse(val))
        this.$emit('input', this.formatDateReverse(val))
      }
    },
    myRules () {
      // return this.rules
      const rules = [val => !val || this.validDate(val)]

      if (this.noFutureDates) {
        rules.push(val => !val || this.validNoFutureDates(val))
      }

      if (this.noPastDates) {
        rules.push(val => !val || this.validNoPastDates(val))
      }

      if (this.minAge && !isNaN(this.minAge)) {
        rules.push(val => !val || this.minValidAge(val, this.minAge))
      }

      return [...this.rules, ...rules]
    }
  },
  methods: {
    setDate (timestamp) {
      try {        
        const timestampFormat = 'DD/MM/YYYY HH:mm:ss'
        const currentDate = new Date().getTime()
        const selectedDate = date.extractDate(`${timestamp} 00:00:00`, timestampFormat).getTime()
        if (this.noFutureDates && selectedDate > currentDate) {
          return this.$q.notify({
            type: 'warning',
            message: 'Não é possível selecionar uma data futura'
          })
        }
        if (this.noPastDates && selectedDate < currentDate) {
          return this.$q.notify({
            type: 'warning',
            message: 'Não é possível selecionar uma data passada'
          })
        }
        this.val = timestamp
        this.$refs.date.hide()
      } catch (err) {
        this.$q.notify({
          type: 'warning',
          message: 'A data informada não é válida'
        })
      }
    },
    validate () {
      return this.$refs.input.validate()
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
