<template>
  <div class="row q-col-gutter-x-md">
    <div v-if="maxFiles" class="col-12">
      {{`Arquivos: ${documents.length}/${maxFiles}`}}
    </div>
    <div  v-if="maxFileSize" class="col-12">
      {{`Cada arquivo pode conter até ${maxFileSize}MB`}}
    </div>
    <div  v-if="accept" class="col-12">
      {{`Extensões permitidas: ${extensionText}`}}
    </div>
    <div v-if="errorMessage" class="col-12 text-red">
      {{errorMessage}}
    </div>

    
    <div class="col-12">
      <q-btn
        icon="add"
        dense
        size="sm"
        color="green"
        rounded
        @click="addDocuments"
      />
    </div>
    <div :key="i" v-for="(document, i) in documents" class="row full-width no-wrap items-center q-gutter-x-md">
      <q-icon :key="i" name="attach_file" />
      <div class="ellipsis" style="width: 45%;" >{{document.file.name}}</div>
      <q-input 
        v-model="document.title"
        label="Título*"
        :rules="[required]"
      />
      <q-icon name="close" color="red" @click="removeDocument(i)"></q-icon>
    </div>
    <q-file 
      ref="fileUpload"
      v-model="val"
      :accept="accept"
      :filter="filterQFile"
      @rejected="rejected"
      multiple
      v-show="false"
      :rules="[
        val => !isRequired || documents.length > 0 || validationMessage
      ]"
    />  
  </div>
</template>

<script>
import { rules } from 'src/mixins'

export default {
  name: 'FilePicker',
  mixins: [rules],
  props: {
    value: {
      type: Array,
      default: () => ([])
    },
    accept: String,
    maxFiles: Number,
    maxFileSize: Number,
    isRequired: {
      type: Boolean,
      default: false
    },
    errorMessage: String
  },
  data: (vm) => ({
    documents: vm.value,
    validationMessage: 'Envie pelo menos um arquivo'
  }),
  computed: {
    qFileMaxFileSize () {
      return this.maxFileSize * 1024 * 1024
    },
    qFileMaxFiles () {
      return this.maxFiles - this.documents.length
    },
    permitedExtensions () {
      return this.accept.split(',')
      .filter((ext) => {
        return ext.includes('.')
      })
      .map(ext => ext.trim().replace('.', ''))
    },
    extensionText () {
      return this.permitedExtensions.join(', ')
    },
    val: {
      get() {
        return this.value
      },
      set(val) {
        val = val.map((file) => ({file, title: ''}))
        this.documents.push(...val)
        this.$emit('input', this.documents)
      }
    }
  },
  methods: {
    async addDocuments() {
      await this.$refs.fileUpload.pickFiles()
    },
    removeDocument(index) {
      this.documents.splice(index, 1)
    },
    filterQFile (files) {
      const filtered = files
        .filter((file) => file.size <= this.qFileMaxFileSize)

      const messages = []
      
      if(files.length > this.qFileMaxFiles) {
        messages.push('Quantidade de arquivos maior do que o permitido')
      }

      if (filtered.length < files.length) {
        messages.push(`Os arquivos só podem ter até ${this.maxFileSize}MB`)
      }

      if(messages.length > 0) {
        this.$q.notify({
            type: 'warning',
            message: messages.join('.<br>'),
            html: true
        })
      }
      
      return filtered
        .slice(0, this.qFileMaxFiles)
    },
    rejected (entries) {
      const messages = []
      for (const {failedPropValidation, file} of entries) {
        if(failedPropValidation === 'accept') {
          messages.push(`Arquivo com formato não permitido: ${file.name}`)
        }
      }

      if(messages.length > 0) {
        this.$q.notify({
            type: 'warning',
            message: messages.join('.<br>'),
            html: true
        })
      }
      
    }
  }
}
</script>

<style>

</style>