<template>
  <q-dialog :maximized="$q.screen.lt.sm" ref="dialog" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section>
        <div class="text-right">
          <q-btn
            round
            dense
            flat
            color="grey-8"
            class="q-ml-auto"
            icon="close"
            @click="onCancelClick"
          />
        </div>
        <div class="text-center">
          <q-img
            v-if="tab === 'Login'"
            src="~assets/login.svg"
            style="max-width: 150px"
            basic
            contain
          />
          <q-img
          v-else-if="tab === 'Register'"
            src="~assets/register.svg"
            style="max-width: 150px"
            basic
            contain
          />
        </div>
      </q-card-section>

      <q-card-section class="q-mx-md">
        <login-form
          @submit="handleLogin"
          @tab-change="tabChange"
          v-if="tab === 'Login'"
          v-model="user"
        />
        <register-form
          @submit="handleRegister"
          @tab-change="tabChange"
          v-else-if="tab === 'Register'"
          v-model="newUser"
        />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import LoginForm from "./LoginForm";
import RegisterForm from "./RegisterForm";
import cloneDeep from "lodash.clonedeep";

const user = {
  email: "",
  password: ""
};

const newUser = {
  username: "",
  email: "",
  password: "",
  password_confirmation: "",
};

export const openDefaultTypes = ["Login", "Register"];

export default {
  name: "LoginDialog",
  components: {
    LoginForm,
    RegisterForm
  },
  props: {
    to: [String, Object],
    onLogin: Function,
    onRegister: Function,
    onCancel: Function,
    onHide: Function,
    userInfo: {
      type: Object,
      required: false
    },
    newUserInfo: {
      type: Object,
      required: false
    },
    openDefault: {
      type: String,
      default: "Login",
      validator: val => val && openDefaultTypes.includes(val)
    },
    storeRef: Object,
    routerRef: Object
  },
  data: () => ({
    user: cloneDeep(user),
    newUser: cloneDeep(newUser),
    recoverEmail: "",
    tab: ""
  }),
  created() {
    this.tab = this.openDefault;
    if (this.newUserInfo)
      this.newUser = { ...this.newUser, ...this.newUserInfo };
    if (this.userInfo) this.user = { ...this.user, ...this.userInfo };
  },
  methods: {
    async handleLogin() {
      try {
        const user = await this.storeRef.dispatch(
          "auth/attemptLogin",
          this.user
        );

        this.hide();      
        await this.routerRef.push({name: 'panel'})

        this.onLogin && this.onLogin(user);
      } catch {
        this.onLogin && this.onLogin(null);
      }
    },
    async handleRegister() {
      try {
        await this.$axios.post("signup", {
          ...this.newUser,
          type: undefined
        });
        this.hide();

        this.onRegister && this.onRegister(true);
      } catch {
        this.onRegister && this.onRegister(false);
      }
    },
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();

      this.user = cloneDeep(user);
      this.newUser = cloneDeep(newUser);

      this.onHide && this.onHide();
    },
    onDialogHide() {
      this.$emit("hide");
    },
    onOKClick() {
      this.$emit("ok");
      this.hide();
    },
    onCancelClick() {
      this.hide();

      this.onCancel && this.onCancel();
    },
    tabChange(val) {
      this.tab = val;
    }
  }
};
</script>
