<template>
    <div>
        <q-list v-if="filters.length > 0" bordered class="q-mb-xl" style="border-radius: 10px">
        <q-expansion-item :value="true" label="Filtros">
            <q-card style="border-radius: 10px">
            <q-card-section         
                    <div class="row q-pa-md q-col-gutter-md" >
                        <template template v-for="(item, j) in filters" >
                            <div :key="j" :class="`${item.class || 'col-12 col-sm-4'}`">
                                <q-input v-if="item.type === 'input-number'"
                                    :label="item.label"
                                    v-model="item.value"
                                    type="number"
                                    :class="item.class"
                                    :style="item.style"
                                    clearable
                                >
                                </q-input>
                                <q-input v-else-if="item.type === 'input' || item.type === 'input-text'"
                                    :label="item.label"
                                    v-model="item.value"
                                    type="text" 
                                    :class="item.class"
                                    :style="item.style"
                                    clearable
                                >
                                </q-input>
                                <q-select v-else-if="item.type === 'select'"
                                    :label="item.label"
                                    v-model="item.value"
                                    :class="item.class"
                                    :style="item.style"
                                    :options="item.options"
                                >
                                </q-select>
                                <date-picker v-else-if="item.type === 'date-picker'"
                                    :label="item.label"
                                    v-model="item.value"
                                    :class="item.class"
                                    :style="item.style"
                                    clearable
                                >
                                </date-picker>

                            </div>
                        </template>
                    </div> 
                    <div class="row justify-end q-ma-md">
                        <q-btn @click="clearFilters" outline >
                            Limpar
                        </q-btn>
                    </div>
            </q-card-section>
            </q-card>
        </q-expansion-item>
        </q-list>

        <q-table
            :title="title"
            :data="filteredData"
            :columns="columns"
            :row-key="rowKey"
            :loading="loading" 
            :rows-per-page-options="[15, 20, 25, 50, 0]"
            :grid="responsive"
        >
            <template v-slot:top-right>
                <slot name="top-right" :export-table="exportTable" />
            </template>
            <template v-if="responsive" #item="props">
                <q-card flat bordered class="fit q-ma-xs">
                    <q-list dense class="q-gutter-y-xs q-py-sm">
                    <q-item v-for="col in propsCols(props)" :key="col.name">
                        <q-item-section>
                        <q-item-label>{{ col.label }}</q-item-label>
                        </q-item-section>
                        <q-item-section side>
                        <q-item-label caption>
                            <slot v-if="mobileSlots.includes(col.name)" :name="`name-${col.name}`" :props="{ ...props, value: col.value }" />
                            <span v-else>{{ col.value }}</span>
                        </q-item-label>
                        </q-item-section>
                    </q-item>
                    <template v-for="col in propsCols(props, true)">
                        <q-item :key="col.name + '-bottom-1'">
                        <q-item-section no-wrap>
                            <q-item-label>{{ col.label }}</q-item-label>
                        </q-item-section>
                        </q-item>
                        <q-item :key="col.name + '-bottom-2'">
                        <q-item-section no-wrap>
                            <slot :name="`name-${col.name}-mobile`" :props="props" />
                        </q-item-section>
                        </q-item>
                    </template>
                    </q-list>
                </q-card>
            </template>
            <template v-for="slot in desktopSlots" #[slot]="props">
                <q-td :key="slot">
                    <slot :name="formatDesktopName(slot)" :props="props" />
                </q-td>
            </template>
        </q-table>
    </div>
</template>

<script>
import cloneDeep from 'lodash.clonedeep'

import { exportFile } from 'quasar'

import DatePicker from 'src/components/DatePicker'

function wrapCsvValue (val, formatFn) {
  // eslint-disable-next-line no-void
  let formatted = formatFn !== void 0
    ? formatFn(val)
    : val

  // eslint-disable-next-line no-void
  formatted = formatted === void 0 || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')
  /**
   * Excel accepts \n and \r in strings, but some other CSV parsers do not
   * Uncomment the next two lines to escape new lines
   */
  // .split('\n').join('\\n')
  // .split('\r').join('\\r')

  return `"${formatted}"`
}

export default {
  name: "MyTable",
  props: {
    title: String,
    filters: Array,
    data: Array,
    columns: Array,
    loading: {
        type: Boolean,
        default: false
    },
    rowKey: {
        type: String,
        default: 'id'
    },
    noResponsive: {
      type: Boolean,
      default: false
    },
    pagination: {
      type: Object,
      default: () => ({
        rowsPerPage: 50
      })
    }      
  },
  components: {DatePicker},
  data: () => ({
    filteredData: [],
    clearingFilters: false
  }),
  async created() {
    this.filteredData = cloneDeep(this.data)
  },
  methods: {
    applyFilter() {
        this.filteredData = this.data.filter((data) => {          
            return this.filters.reduce((acc, filter) => { 
                if(filter.value) {
                  if (filter.filter && typeof(filter.filter) === 'function') {
                    return acc && filter.filter(data[filter.field], filter.value)
                  }  
                  if (filter.type === 'select') {
                    if(filter.value !== 'Todos') {
                        return acc && data[filter.field] === filter.value
                    }
                  } else {
                    const ft = (data[filter.field] + '').normalize("NFD").replace(/[\u0300-\u036f]/g, "").toUpperCase().trim()
                    const ff = (filter.value + '').normalize("NFD").replace(/[\u0300-\u036f]/g, "").toUpperCase().trim()
                    return acc && ft.indexOf(ff) >= 0
                  }
                }
                return acc

            }, true)
        })
    },
    clearFilters() {            
        this.clearingFilters = true
        this.filters.forEach((item) => {
          item.value = item.type === 'select' ? 'Todos' : null
        })
        this.clearingFilters = false
        this.filteredData = this.data
    },
    formatDesktopName (slot) {
      return slot.replace('body-cell-', 'name-')
    },
    propsCols (props, mobile = false) {
      return props.cols.filter(col => this.bottomSlots.includes('name-' + col.name) === mobile)
    },
    exportTable () {
      // naive encoding to csv format
      const content = [this.columns.filter(column => !column.noCSVExport)
        .map(col => wrapCsvValue(col.label))].concat(
        this.data.map(row => this.columns.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            // eslint-disable-next-line no-void
            : row[col.field === void 0 ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    }
  },
  computed: {
    responsive () {
      return !this.noResponsive && this.$q.screen.lt.sm
    },
    slots () {
      return [...Object.keys(this.$slots), ...Object.keys(this.$scopedSlots)]
    },
    desktopSlots () {
      return this.slots
        .filter(slot => slot.startsWith('name-') && !slot.endsWith('-mobile'))
        .map(slot => slot.replace('name-', 'body-cell-'))
    },
    mobileSlots () {
      const slots = []
      this.slots
        .filter(slot => slot.startsWith('name-'))
        .forEach(slot => {
          if (!Object.prototype.hasOwnProperty.call(this.$slots, `${slot}-mobile`)) {
            slots.push(slot.replace('name-', ''))
          }
        })

      return slots.map(slot => slot.replace('name-', ''))
    },
    bottomSlots () {
      return this.slots
        .filter(slot => slot.endsWith('-mobile'))
        .map(slot => slot.replace('-mobile', ''))
    }
  },
  watch: {
    filters: {
        deep: true,
        handler() {
          if(this.clearingFilters) return 
          this.applyFilter()
        }
    },
    data() {
      this.applyFilter()
    }
  }
};
</script>

<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
