<template>
  <div :class="contentClass" :style="contentStyle" >
    <label :class="disable ? 'cursor-not-allowed' :  ''">
      <div class="q-field__label ellipsis" style="font-size: 12px !important;">{{label}}</div>
      <q-toggle
        v-model="val"
        dense
        size="sm"
        :disable="disable"
        :class="disable ? 'cursor-not-allowed no-pointer-events' : ''"
      />
    </label>
  </div>
</template>

<script>
export default {
  name: 'MyToggle',
  props: {
    label: String,
    contentClass: String,
    contentStyle: [String, Object],
    value: Boolean,
    disable: Boolean
  },
  computed: {
    val: {
      get () {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    }
  }
}
</script>

<style>

</style>