<template>
  <q-form @submit="$emit('submit')">
    <div class="row q-col-gutter-md">
      <div class="col-12">
        <q-input
          v-model="value.username"
          :rules="[
            required
          ]"
          label="Nome *"
          lazy-rules
        >
          <template v-slot:prepend>
            <q-icon name="person" />
          </template>
        </q-input>
      </div>

      <div class="col-12">
        <q-input
          v-model="value.email"
          :rules="[
            required,
            email
          ]"
          label="E-mail *"
          lazy-rules
        >
          <template v-slot:prepend>
            <q-icon name="mail" />
          </template>
        </q-input>
      </div>

      <!-- Senha -->
      <div class="col-12">
        <q-input
          v-model="value.password"
          :type="pwdVisible ? 'text' : 'password'"
          :rules="[
            required,
            val => minLength(val, 8)
          ]"
          label="Senha *"
          lazy-rules
        >
          <template v-slot:prepend>
            <q-icon name="lock" />
          </template>
          <template v-slot:append>
            <q-icon
              @click="pwdVisible = !pwdVisible"
              :name="!pwdVisible ? 'visibility' : 'visibility_off'"
              class="cursor-pointer"
            />
          </template>
        </q-input>
      </div>

      <!-- Repetir Senha -->
      <div class="col-12">
        <q-input
          v-model="value.password_confirmation"
          :type="confirmPwdVisible ? 'text' : 'password'"
          :rules="[
            required,
            val => minLength(val, 8),
            val => sameAs(val, value.password, 'As senhas não coincidem')
          ]"
          label="Confirmar Senha *"
          lazy-rules
        >
          <template v-slot:prepend>
            <q-icon name="lock" />
          </template>
          <template v-slot:append>
            <q-icon
              @click="confirmPwdVisible = !confirmPwdVisible"
              :name="!confirmPwdVisible ? 'visibility' : 'visibility_off'"
              class="cursor-pointer"
            />
          </template>
        </q-input>
      </div>

      <div class="col-12">
        <q-btn
          type="submit"
          label="Cadastrar-se"
          color="primary"
          class="q-py-xs full-width"
          no-caps
          rounded
        />
      </div>

      <div class="col-12 text-center text-subtitle2 text-grey-8">
        Já possui cadastro?
        <q-btn
          @click="$emit('tab-change', 'Login')"
          label="Entrar"
          color="primary"
          class="q-py-xs full-width"
          no-caps
          outline
          rounded
        />
      </div>
    </div>
  </q-form>
</template>

<script>
import { rules } from 'src/mixins'
import DatePicker from './DatePicker'

export default {
  name: 'RegisterForm',
  mixins: [rules],
  components: {
    DatePicker
  },
  props: {
    value: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    pwdVisible: false,
    confirmPwdVisible: false,
    peopleTypeOptions: [
      'Tipo1',
      'Tipo2'
    ]
  })
}
</script>
