<template>
  <q-layout view="lHh Lpr lFf">
    <q-header  elevated>
      <q-toolbar class="bg-white" >

        <q-toolbar-title>
          <div class="q-py-xs row q-gutter-x-md items-center">
            <img height="50px;" alt="ufes-brasao" src="~assets/brasao-ufes.png" />
            <q-btn flat class="text-black" no-caps >
              Porque utilizar?
            </q-btn>
          </div>

        </q-toolbar-title>

        <div class="row q-gutter-x-md items-center">
          <q-btn v-if="false" class="text-black" no-caps flat @click="open('Register')">
            Registrar
          </q-btn>
          <q-btn size="md" color="primary" @click="open('Login')">
            Entrar
          </q-btn>
        </div>

      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import LoginDialog from "components/LoginDialog";
import { mapGetters } from "vuex";

export default {
  name: "MainLayout",
  methods: {
    open(type) {
      if (type === 'Login' && this.$store.getters['auth/isAuthenticated']) {
        return this.$router.push({ name: 'panel' })
      }
      this.$q.dialog({
        component: LoginDialog,
        storeRef: this.$store,
        routerRef: this.$router,
        openDefault: type
      });
    },
  },
  computed: {
    ...mapGetters({
      user: "auth/getUser",
      isProfessor: "auth/isProfessor"
    })
  }
};
</script>
