<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          SCAP
        </q-toolbar-title>

        <q-btn-dropdown flat rounded v-if="user">
          <div class="row no-wrap q-pa-md" style="max-width: 400px;" >
            <div class="column">
              <div class="text-h6 q-mb-md">Configurações</div>
              <q-list>
                <q-item
                  v-for="item in linksMenu"
                  :key="item.title"
                  @click="item.handler"
                  clickable
                  v-ripple
                  v-close-popup
                >
                  <q-item-section avatar>
                    <q-icon :name="item.icon" />
                  </q-item-section>

                  <q-item-section>{{ item.title }}</q-item-section>
                </q-item>
              </q-list>
            </div>

            <q-separator v-if="$q.screen.gt.xs" vertical inset class="q-mx-lg" />

            <div class="column items-center">
              <q-avatar color="grey-4" size="72px">
                <q-icon name="person" size="60px" />
              </q-avatar>

              <div style="max-width: 160px;" class="text-subtitle1 ellipsis q-mt-md">{{ user.username }}</div>
              <div style="max-width: 160px;" class="text-subtitle2 ellipsis q-mb-xs">{{ user.email }}</div>

              <q-btn
                flat
                color="primary"
                label="Sair"
                size="sm"
                v-close-popup
                @click="logout"
              />
            </div>
          </div>
        </q-btn-dropdown>
        <q-btn flat v-else @click="openLogin">
          Entrar
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label header class="text-grey-8">
          <div class="full-width text-center">
            <img width="100px" src="~assets/brasao-ufes.png" />
          </div>
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink.vue";
import LoginDialog from "components/LoginDialog";
import { mapGetters } from "vuex";
import UserForm from "src/pages/User/UserForm.vue";

const linksData = [
  {
    title: "Professores",
    icon: "school",
    link: { name: "professor.list" }
  },
  {
    title: "Secretários",
    icon: "people",
    link: { name: "secretary.list" }
  },
  {
    title: "Afastamentos",
    // caption: "chat.quasar.dev",
    icon: "multiple_stop",
    link: { name: 'withdrawal.tab'}
  },
  {
    title: "Afastamentos",
    // caption: "chat.quasar.dev",
    icon: "multiple_stop",
    link: { name: 'withdrawal.list'}
  },
  {
    title: "Meus Pareceres",
    icon: "filter_none",
    link: { name: 'feedback.list'}
  }
  // {
  //   title: "Forum",
  //   caption: "forum.quasar.dev",
  //   icon: "record_voice_over",
  //   link: "https://forum.quasar.dev"
  // },
  // {
  //   title: "Twitter",
  //   caption: "@quasarframework",
  //   icon: "rss_feed",
  //   link: "https://twitter.quasar.dev"
  // },
  // {
  //   title: "Facebook",
  //   caption: "@QuasarFramework",
  //   icon: "public",
  //   link: "https://facebook.quasar.dev"
  // },
  // {
  //   title: "Quasar Awesome",
  //   caption: "Community Quasar projects",
  //   icon: "favorite",
  //   link: "https://awesome.quasar.dev"
  // }
];

export default {
  name: "MainLayout",
  components: { EssentialLink },
  data: vm => ({
    leftDrawerOpen: false,
    essentialLinks: null,
    panelRoutes: null,
    linksMenu: [
      {
        title: "Meus Dados",
        icon: "settings",
        handler: () => {
          vm.$q.dialog({
            component: UserForm,
            type: "logged",
            parent: vm
          });
        }
      }
    ]
  }),
  created() {    
    if(this.user) {

      this.panelRoutes = this
        .$router
        .options
        .routes
        .find(route => route.path === '/painel')
        .children

      this.essentialLinks = this.isProfessor ? this.professorLinks : this.secretaryLinks
    } else {
      this.essentialLinks = linksData
    }
  },
  methods: {
    openLogin() {
      this.$q.dialog({
        component: LoginDialog,
        storeRef: this.$store,
        routerRef: this.$router
      });
    },
    async logout() {
      await this.$store.dispatch('auth/logout')
      await this.$router.push({name: 'index'})
    },
    openRoute (route) {
      return !route?.meta?.professorOnly && !route?.meta?.secretaryOnly && route?.meta?.authOnly
    }
  },
  computed: {
    ...mapGetters({
      user: "auth/getUser",
      isProfessor: "auth/isProfessor"
    }),
    professorLinks() {   
      if (this.panelRoutes === null) {
        return []
      }   
      const routeNames = this.panelRoutes
        .filter(route => route?.meta?.professorOnly === true || this.openRoute(route))
        .map(route => route.name)
      return linksData.filter(item => routeNames.indexOf(item.link.name) >= 0)
    },
    secretaryLinks() {
      if (this.panelRoutes === null) {
        return []
      }
      const routeNames = this.panelRoutes
        .filter(route => route?.meta?.secretaryOnly === true || this.openRoute(route))
        .map(route => route.name)
      return linksData.filter(item => routeNames.indexOf(item.link.name) >= 0)
    }
  }
};
</script>
