<template>
  <div>
    <div
      class="underline-on-hover text-h6 text-weight-light row text-uppercase q-gutter-md q-py-md q-px-lg"
    >
      <router-link class="ellipsis" :to="{name: 'withdrawal.tab.my'}" >Meus Afastamentos</router-link>
      <router-link class="ellipsis" v-if="!isChief" :to="{name: 'withdrawal.tab.rapporteur'}" >Relator</router-link>
      <router-link class="ellipsis" :to="{name: 'withdrawal.tab.others'}" >Outros Afastamentos</router-link>
    </div>
    <router-view>

    </router-view>
  </div>
</template>

<script>
import { mapGetters } from "vuex"

export default {
  name: "WithdrawalTabIndex",
  computed: {
    ...mapGetters({
      isChief: 'auth/isChief'
    }),
  }
}
</script>

<style>
  .underline-on-hover > a
  {
    text-decoration: none !important;
    text-underline-position: under;
    color: inherit
  }
  .underline-on-hover > a:hover 
  {
    text-decoration: underline !important;
  }
  .underline-on-hover > .router-link-active
  {
    text-decoration: underline !important;
  }

</style>