<script>
import WithDrawalList from '../WithDrawalList.vue'

export default {
  name: 'RapporteurWithdrawalList',
  extends: WithDrawalList,
  methods: {
    async loadData() {
      const { data } = await this.$axios.get('withdrawals/rapporteur')
      this.withDrawalData = data
    }
  }
}
</script>

<style>

</style>