<template>
  <q-dialog :maximized="$q.screen.lt.sm" ref="dialog" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-form @submit="onOKClick">
        <!--
          ...content
          ... use q-card-section for it?
        -->

        <q-card-section>

          <div class="absolute" style="top: 10px; right: 10px"> 
            <q-icon @click="hide" class="cursor-pointer" style="font-size: 2em;" name="close" />
          </div>

          <div class="text-h6">Parecer</div>
          <div class="row q-gutter-x-sm">
            <div class="col-6">
              <q-select 
                v-model="feedback.judgment"
                label="Julgamento*"
                :disable="isUpdate"
                :options="['Favorável', 'Desfavorável']"
              />  
            </div>
            <div class="col-12">
              <q-input 
                v-model="feedback.reason"
                :disable="isUpdate"
                label="Motivo*"
              /> 
            </div>
          </div>
        </q-card-section>

        <!-- buttons example -->
        <q-card-actions align="right">
          <q-btn color="primary" v-if="isCreate" type="submit" label="Emitir" />
          <q-btn color="primary" v-if="isCreate" outline label="Cancelar" @click="onCancelClick" />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: {
    withdrawalId: {
      type: Number,
      required: false
    },
    id: {
      type: Number,
      required: false
    }
  },
  data: () => ({
    feedback: {
      judgment: null,
      reason: ''
    }
  }),

  async created() {
    if (this.isUpdate) {
      const { data } = await this.$axios.get(`feedback/${this.id}`)
      this.feedback = data
    } 
  },

  computed: {
    isUpdate() {
      return Boolean(this.id)
    },
    isCreate() {
      return !this.isUpdate
    }
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    async onOKClick () {

      const feedbackData = {
        ...this.feedback
      }

      await this.$axios.post(`withdrawal/${this.withdrawalId}/feedback`, feedbackData)


      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    }
  }
}
</script>