<template>
  <q-page class="q-pa-lg">
    <my-table 
      title="Meus Pareceres"
      :columns="columns"
      :data="feedbackData"
      :filters="filters"
    >
      <template #name-actions="{props: {row}}">
        <div class="row justify-center q-gutter-x-md">
          <div @click="viewFeedback(row)" class="text-center cursor-pointer">
            <q-icon name="visibility"  size="xs" />
            <div style="font-size: 11px;">Ver Detalhes</div>
          </div>
        </div>
      </template>
      <template #name-judgment="{props: {row}}">
        <div class="text-center">
          <q-chip class="text-white" :color="getColor(row.judgment)" >{{row.judgment}}</q-chip>
        </div>
      </template>
    </my-table>
  </q-page>
</template>

<script>
import MyTable from "components/MyTable"
import { formatters, rules } from 'src/mixins'
import FeedbackForm from './FeedbackForm.vue'

export default {
  components: { MyTable },
  mixins: [formatters, rules],
  data: (vm) => ({
    feedbackData: [],
    columns: [
      {
        name: "id",
        field: "id",
        required: true,
        label: "Código",
        align: "left",
        sortable: true
      },
      {
        name: "created_at",
        field: "created_at",
        required: true,
        label: "Data da emissão",
        align: "left",
        sortable: true,
        format: (val) => vm.formatDateIncludingHour(val)
      },
      {
        name: "judgment",
        field: "judgment",
        required: true,
        label: "Julgamento",
        align: "center",
        sortable: false
      },
      {
        name: "actions",
        field: "actions",
        required: true,
        label: "Ações",
        align: "center",
        sortable: false
      }
    ],
    filters: [
      {
        label: "Código",
        field: "id",
        value: null,
        type: "input-number",
        class: 'col-12 col-sm-2'
      },
      {
        label: "Julgamento",
        field: "judgment",
        value: 'Todos',
        type: "select",
        options: ['Todos', 'Favorável', 'Desfavorável'],
        class: 'col-12 col-sm-4'     
      },
      {
        label: "Data Inicial",
        field: "created_at",
        value: null,
        filter: (row, field) =>{
          row = row.split(' ')[0]
          return typeof(vm.validDate(row)) === 'string' || typeof(vm.validDate(field)) === 'string' || row >= field
        },
        type: "date-picker",
        class: 'col-12 col-sm-3'     
      },
      {
        label: "Data Final",
        field: "created_at",
        value: null,
        filter: (row, field) =>  {
          row = row.split(' ')[0]
          return typeof(vm.validDate(row)) === 'string' || typeof(vm.validDate(field)) === 'string' || row <= field
        },
        type: "date-picker",        
        class: 'col-12 col-sm-3'
      }
    ]
  }),
  async created() {
    const { data } = await this.$axios.get('feedbacks')
    this.feedbackData = data
  },
  methods: {
    viewFeedback(row) {
      this.$q.dialog({
        component: FeedbackForm,
        id: row.id,
        parent: this
      })
    },
    getColor(judgment) {
      if (judgment === 'Favorável') return 'positive'
      return 'warning'
    }
  }
}
</script>

<style>

</style>