<template>
  <q-page class="q-pa-lg row items-start">
    <div class="col-12 col-sm-6">
      <img 
        src="~assets/travel-map.svg"
        class="fit"
      />
    </div>
    <div class="col-12 col-sm-6">
        <div class="text-h4 text-left text-uppercase q-pb-md">Venha para o SCAP</div>
        <div class="text-left">Não perca tempo, faça já a sua conta no SCAP. Tudo facilitado para que possa pedir o seu afastamento.</div>
    </div>

  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>
